<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
		
		<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
		
			<input type="text" th:field="*{firstName}" 
			class="form-control mb-4 col-4" placeholder="First name">
			
			<input type="text" th:field="*{lastName}" 
			class="form-control mb-4 col-4" placeholder="Last name">
			
			<input type="text" th:field="*{email}" 
			class="form-control mb-4 col-4" placeholder="Email">
		
			<button type="submit" class="btn btn-info col-2">Save</button>
		
		</form>
		
		<hr>
		<a th:href="@{/employees/list}">Back to Employees list</a>
		
	</div>

</body>

</html>